<!DOCTYPE html>
<html>
    <head>
        <title>Learn | SkillDex </title>
        <link href="static\learn.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    </head>
    </head>
    <body>
        <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
        <h1 id="logo"><center><img src="static\images\logo.png" style="height: 130px; width: 200px;"></center></h1>
        <h1><a href="{{url_for('learnpythongame')}}"> Learn Python(Game) 🐍</h1>
            <hr><br><br>
            <h1><a href="">Learn Apptitude(Coming soon)</h1>
                  <hr><br><br>
                    <h1><a href="">Learn Mathematics(Coming Soon)</h1>
                        <hr><br><br>
                        <h1><a href="">Crazy Science</h1>
                            <hr>
                            <br><br>
                        
    </body>
</html>